{#
  Messaging interface
#}
<body class="DataBot">
  <h1 style="text-align: center; font-family: 'Times New Roman', Times, serif; margin-bottom: 0;">DataBot</h1>
  <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif; margin-bottom: 3vh;margin-top: 0;">Conversational System for sourcing data from UDL Platform.</h3>
  <div class="container" id="outer-wrapper">
    <div class="chatbox">
      {% if note %}
        <div class="alert alert-primary" role="alert">{{ note }}</div>
      {% endif %}
      <ul id="chat-start"></ul>
      <ul id="chat-loading"></ul>
    </div>
    <!-- Input Bar -->
    <form class="input-form" onsubmit="submit_query(this); return false" autocomplete="off">
      <div class="input-group mb-3"  id="chat-input">
        <input type="text" class="form-control user-input" id="user-input" placeholder="New message..." autofocus >
        <div class="input-group-append">
          <input class="btn btn-outline-dark" type="hidden">
        </div>
      </div>
    </form>
    <!-- End Input Bar -->
  </div>
</body>
