{#
  Messaging interface
#}
<body>
  <div class="container" id="outer-wrapper">
    <div class="chatbox">
      <ul id="chat-start">
      </ul>
    </div>
    <!-- Input Bar -->
    <form class="input-form" onsubmit="submit_query(this); return false" autocomplete="off">
      <div class="input-group mb-3"  id="chat-input">
        <input type="text" class="form-control user-input" id="user-input" placeholder="New message..." name="user-input" autofocus >
        <div class="input-group-append">
          <input class="btn btn-outline-dark" type="hidden">
        </div>
      </div>
    </form>
    <!-- End Input Bar -->
  </div>
</body>
